= form_for @authority_change_request do |f|
  - if @authority_change_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@authority_change_request.errors.count, "error")} prohibited this authority_change_request from being saved:"
      %ul
        - @authority_change_request.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :src_authority
    = f.number_field :src_authority
  .field
    = f.label :dst_authority
    = f.number_field :dst_authority
  .field
    = f.label :user_remark
    = f.text_area :user_remark
  .field
    = f.label :manager_remark
    = f.text_area :manager_remark
  .field
    = f.label :status
    = f.text_field :status
  .actions
    = f.submit 'Save'
