-provide :title, t('user.prr.index')
.container
  %h1= t('user.prr.index')
  %nav
    %ul.nav.navbar-nav.navbar-right
      %li
        =form_tag password_reset_requests_path, method: :get, class: 'form-inline' do
          .form-group
            =select_tag 'status', options_from_collection_for_select(PasswordResetRequest::STATUS, :itself, :translated_str, params[:status]), include_blank: t('user.prr.status.all'), class: 'form-control'
            =button_tag method: :get, class: 'btn btn-primary' do
              =t('user.prr.status.show')

%table.table.table-hover
  %thead
    %tr
      %th= t('user.username')
      %th= t('user.status_name')
      %th= t('user.prr.remark')
      %th= t("user.prr.created_at")
      %th= t("user.prr.updated_at")
      %th= t("user.prr.operations")

  %tbody
    - @password_reset_requests.each do |password_reset_request|
      %tr{:class => ('warning' if password_reset_request.status == 'user.prr.status.submit')}
        %td
          =link_to password_reset_request_path(password_reset_request) do
            =password_reset_request.user.username
        %td= t(password_reset_request.status)
        %td= password_reset_request.remark
        %td= l password_reset_request.created_at
        %td= l password_reset_request.updated_at
        %td 
          %ul.list-inline
            -#%li= link_to 'Show', password_reset_request
            -if password_reset_request.status == 'user.prr.status.submit'
              %li= link_to t('user.prr.edit'), edit_password_reset_request_path(password_reset_request)
            %li= link_to t('user.prr.destroy'), password_reset_request, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

-#= link_to 'New Password reset request', new_password_reset_request_path
